<% provide(:title, 'Blackjack Game') %>
<h3><%=link_to "Lobby", lobby_index_path %></h3> </br>
<div class="page-header"> <h1> <%= @table.name %></h1></div>
<section id = "game">
</section>
<script>
  var myUser = new blackjack.User({id: <%= @user.id %>});
  myUser.fetch({success:function(){ var view = new blackjack.userView();
      view.initialize();
  }});
</script>
<script id="game-template" type="text/x-handlebars-template">
  <i class="icon-glass"> </i> </br> Dealer </br></br>
  <i class="icon-user"> </i>
  <label id="betLabel"></label>
  <label id="creditsLabel"> </label>
  <label id="levelLabel"></label>
  <%= @user.name %>
  <div class="well">
    <input type="text" id="betInput" name="betInput" size="5">
    <div class="btn-group">
      <button id="betButton">bet</button>
    </div>
  </div>
</script>
