<% provide(:title, 'Lobby') %>

<h1>Welcome to the Blackjack App</h1>


	<h1> <% @tables.each do |each| %>
		<a href="/game"><%= each.name %></a>
		Min: <%= each.min %>
		Max: <%= each.max %>
		<% end %>	
		None
	</h1>